# exclude build dirs
./build/*
./CMakeFiles/*
CMakeFiles
build
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# exclude documentation
./docs/*
docs
*.html
*.latex
*.pdf

#exclude binary fragments
*.dll
*.so
*.a
*.lib

# exclude visual studio files
*.sln
*.vcproj
